#d2{
	padding-left:120px;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 60px;
	width: auto;  
}
#d2 img{
width: 55px;
height: 55px;
}

#d2 ul{
	position: absolute;
	left: 340px;
	top: 60px;
}

#d2 li{
	float: left;
	list-style-type:none; 
	padding-right: 24px;
	line-height: 50px;
}

#d2 a{
	text-decoration: none;
}

#d2 a:visited{
	color: #141414;
}
#d2 a:hover{
	color: #EE7600;
}

#search{
	border:1px solid #CFCFCF;
	height: 45px;
	width: 235px;
	position: absolute;
	right: 165px;
	top: 60px;
}

#fdj{
	height: 45px;
	width: 45px;
	float: right;
	border:1px solid #CFCFCF; 
	background:url("fdj.jpg") ;
	background-size:90px 45px;
	position: absolute;
	right: 120px;
	top: 60px;
} 

#search table tr td{
padding-top: 10px;
}
#search table tr td a{
	background-color: #EBEBEB;
	align-items: center;
	height: 20px;
	float: right;
	padding-right: 10px;
	font-size: 13px;
}

#search table tr td a:visited{
	color: #AAAAAA;
}

#search table tr td a:hover{
	color: #EBEBEB;
	background-color: #EE7600;
}

#dh2xl{
	position: absolute;
	height: 230px;
	background-color: white;
	width: 100%;
	padding-top:40px; 
	padding-left: 110px;
	font-size: 14px;
	border-top: 1px solid #878787;
	display: none;
}

#dh2xl img {
	width: 170px;
	height: 120px;
}

#dh2xl p{
	text-align: center;
}

#dh2xl span{
	color: #FF8C00;
}

#dh2xl table tr td{
	padding-left:10px; 
}

#dh2xl table tr td hr{
	color:#F0F0F0;
}
